<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="text-align:center">
  <span class="navbar-brand brand" href="#">Blood<span style="color:red">For</span>You </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " href="/"><span class="chose ">Home</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/aboutus"><span class="chose"> About Us</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/aboutus" tabindex="-1" aria-disabled="true"><span class="chose ">Contact Us</span></a>
      </li>
    </ul>
    <a href="/signin"><button type="button" class="btn btn-secondary signup ">Sign In</button></a>
    <a href="/signup">
      <button type="button" class="btn btn-secondary signup ">Sign Up</button>
    </a>
  </div>
</nav>
