<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="text-align:center">
    <span class="navbar-brand brand" href="#">Blood<span style="display:inline; color:red">For</span>You </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/homeAfterSignIn"><span class="chose ">Home</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus"><span class="chose "> About Us</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/becomeADonor" tabindex="-1" aria-disabled="true"><span class="chose ">Become A Donor!</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/becomeAReceiver" tabindex="-1" aria-disabled="true"><span class="chose ">Need Blood ?</span></a>
            </li>
        </ul>
        <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <div>
        <p class="chose username" style="font-size: 1rem;"><%= username %> </p>
        <!-- <button type="button" class="log-out ll btn btn-primary btn-sm" style="width: 10%" name="button">
          <a href="/logMeOut" class="chose " style="font-size: 1rem;">Log Out</a>
        </button> -->
        <a href="/logMeOut">
          <button type="button" style="width: 10%; font-size:0.6rem;" class="log-out btn btn-secondary btn-sm signup ">Log Out</button>
        </a>
    </div>
    <script>
        document.querySelector(".username").addEventListener("mouseover",()=>{
            document.querySelector(".log-out").classList.add("unhide");
        })

        document.querySelector(".username").addEventListener("mouseout",()=>{
          document.querySelector(".log-out").addEventListener("mouseout",()=>{
            setTimeout(()=>{document.querySelector(".log-out").classList.remove("unhide");},500);
        })
      })
    </script>
    </div>
</nav>
