<%-include("partials/header")-%>
<%-include("partials/signinfavicons/favicons")-%>
</head>
<body>
  <h3>Currently our mobille otp service is not working so you can leave it empty(just enter the remaining 3 details)</h3>
  <form class="" action="/otp" method="post">
    <label>otp on mobile</label>
    <input type="number" name="mobileNo" placeholder="mobile no">
    <input type="number" name="mobotp" value="">
    <label>otp on email</label>
    <input type="email" name="email" placeholder="email">
    <input type="number" name="emailotp" value="">
    <input type="submit" name="" value="submit">

</form>
</body>
</html>
