<%-include("partials/header")-%>
<%-include("partials/signinfavicons/favicons")-%>
<!-- Custom styles for this template -->
<link href="signinAfterSignupPage\css\styles.css" rel="stylesheet">
<link rel="stylesheet" href="navarCss\styles.css">
</head>
<body class="text-center">
  <%-include("partials/signInNavbar")-%>
  <div class="jumbotron text-center alignment">
    <h1>Thank You!</h1>
    <h3>You can be proud as you have already become a blood donor</h3>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/receiverList" role="button">Check for receivers</a>
    </p>
  </div>

</body>
